{% extends 'myadmin/dashboard.html' %}
{% load static %}

{% block admin-navbar %}
<div class="page-title-area">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <div class="breadcrumbs-area clearfix">
                <h4 class="page-title pull-left">Dashboard</h4>
                <ul class="breadcrumbs pull-left">
                    <li><a href="{% url 'categories' %}">Category</a></li>
                    <li><span>Add Category</span></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 clearfix">
            <div class="user-profile pull-right">
                <img class="avatar user-thumb" src="{% static 'admin-assets/images/author/avatar.jpg' %}" alt="avatar">
                <h4 class="user-name dropdown-toggle" data-toggle="dropdown">Suman Sapkota<i
                        class="fa fa-angle-down"></i></h4>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Message</a>
                    <a class="dropdown-item" href="#">Settings</a>
                    <a class="dropdown-item" href="{% url 'admin_login' %}">Log Out</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock admin-navbar %}

{% block main-content %}
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card-body ">
        {% if messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <div class="messages">
                {% for message in messages %}
                {% if message.tags %} {% endif %}{{ message }}
                {% endfor %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        class="fa fa-times"></span>
                </button>
            </div>
        </div>
        {% endif %}
        <h4 class="header-title">Add Variations</h4>
        <div class="form-group">
            <div class="col-sm-3">
                <label for="example-text-input" class="col-form-label">Category Name</label>
                <input name="category_name" class="form-control" type="text" id="example-text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <label for="example-text-input" class="col-form-label">Slug</label>
                <input name="slug" class="form-control" type="text" id="example-text-input">
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label for="example-url-input" class="col-form-label">Description</label>
            <textarea name="description" class="form-control" aria-label="With textarea"></textarea>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <label for="example-text-input" class="col-form-label">Category Image</label>
                <div class="custom-file">
                    <input name="cat_image" type="file" class="form-control-file" id="exampleFormControlFile1">

                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success mb-3">Save</button>
        <button type="submit" class="btn btn-success mb-3">Save and add another</button>
    </div>
</form>

{% endblock main-content %}