{% extends 'myadmin/dashboard.html' %}
{% load static %}


{% block admin-navbar %}
<div class="page-title-area">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <div class="breadcrumbs-area clearfix">
                <h4 class="page-title pull-left">Dashboard</h4>
                <ul class="breadcrumbs pull-left">
                    <li><a href="{% url 'products' %}">Products</a></li>
                    <li><span>Add Products</span></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 clearfix">
            <div class="user-profile pull-right">
                <img class="avatar user-thumb" src="{% static 'admin-assets/images/author/avatar.jpg' %}" alt="avatar">
                <h4 class="user-name dropdown-toggle" data-toggle="dropdown">Suman Sapkota<i
                        class="fa fa-angle-down"></i></h4>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Message</a>
                    <a class="dropdown-item" href="#">Settings</a>
                    <a class="dropdown-item" href="{% url 'admin_login' %}">Log Out</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock admin-navbar %}


{% block main-content %}
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card-body">
        {% if messages %}
        <div class="alert alert-success" role="alert">
            <div class="messages">
                {% for message in messages %}
                {% if message.tags %} {% endif %}{{ message }}
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <h4 class="header-title">Add Products</h4>
        <div class="form-group">
            <div class="col-sm-6">
                <label for="product_name" class="col-form-label">Product Name</label>
                <input name="product_name" class="form-control" type="text" id="product_name" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <label for="slug" class="col-form-label">Slug</label>
                <input name="slug" class="form-control" type="text" id="slug" required>
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label for="example-url-input" class="col-form-label">Description</label>
            <textarea name="description" class="form-control" aria-label="With textarea" required></textarea>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <label for="selling_price" class="col-form-label">Selling Price</label>
                <input name="selling_price" class="form-control" type="number" id="selling_price" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <label for="discounted_price" class="col-form-label">Discounted Price</label>
                <input name="discounted_price" class="form-control" type="text" id="discounted_price">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <label for="product_detail_ribbon" class="col-form-label">Product Detail Ribbon</label>
                <input name="product_detail_ribbon" class="form-control" type="text" id="product_detail_ribbon">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <label for="ribbon" class="col-form-label">Ribbon</label>
                <input name="ribbon" class="form-control" type="text" id="ribbon" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <label for="image1" class="col-form-label">Image1</label>
                <div class="custom-file">
                    <input name="image1" type="file" class="form-control-file" required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <label for="image2" class="col-form-label">Image2</label>
                <div class="custom-file">
                    <input name="image2" type="file" class="form-control-file" required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <label for="image3" class="col-form-label">Image3</label>
                <div class="custom-file">
                    <input name="image3" type="file" class="form-control-file" required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <label for="image4" class="col-form-label">Image4</label>
                <div class="custom-file">
                    <input name="image4" type="file" class="form-control-file" required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <label for="image5" class="col-form-label">Image5</label>
                <div class="custom-file">
                    <input name="image5" type="file" class="form-control-file" required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <label for="image6" class="col-form-label">Image6</label>
                <div class="custom-file">
                    <input name="image6" type="file" class="form-control-file" required>
                </div>
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label for="stock" class="col-form-label">Stock</label>
            <input name="stock" class="form-control" type="number" id="stock" required>
        </div>
        <div class="form-group col-sm-3">
            <div>
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked required>
                Is Available
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label class="col-form-label">Category</label>&nbsp; &nbsp;&nbsp;
            <a href="{% url 'addcategory' %}"><i class="text-success ti-plus"></i></a>
            <select name="category" class="custom-select" required>
                <option disabled selected>Select</option>
                {% for category in categories %}
                <option>{{ category.category_name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-success mb-3">Save</button>
        <button type="submit" class="btn btn-success mb-3">Save and add another</button>

    </div>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Handle input change event for product name
        $('#product_name').on('input', function () {
            // Get the product name value
            var productName = $(this).val();

            // Remove special characters, replace spaces with dashes, and convert to lowercase for slug
            var slug = productName.toLowerCase().replace(/[^a-z0-9-]+/g, '-').replace(/^-|-$/g, '');

            // Set the slug input value
            $('#slug').val(slug);
        });
    });
</script>

{% endblock main-content %}