{% extends 'myadmin/dashboard.html' %}


{% block main-content %}
<div class="main-content-inner">
    <div class="row">
        <!-- table primary start -->
        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Thead Primary</h4>
                    <div class="single-table">
                        <div class="table-responsive">
                            <table class="table text-center">
                                <thead class="text-uppercase bg-primary">
                                    <tr class="text-white">
                                        <th scope="col">Product Name</th>
                                        <th scope="col">Selling Price</th>
                                        <th scope="col">Discounted Price</th>
                                        <th scope="col">Category</th>
                                        <th scope="col">Created Date</th>
                                        <th scope="col">Modified Date</th>
                                        <th scope="col">Is Available</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in products %}
                                    <tr>
                                        <th scope="row">{{product.product_name}}</th>
                                        <td>Rs. {{product.selling_price}}</td>
                                        <td>Rs. {{product.discounted_price}}</td>
                                        <td>{{product.category}}</td>
                                        <td>{{product.created_date}}</td>
                                        <td>{{product.modified_date}}</td>
                                        <td>
                                            <input type="checkbox" checked class="custom-control-input"
                                                id="customCheck1">
                                            <label class="custom-control-label" for="customCheck1">Is Available</label>
                                        <td class="text-danger">
                                            <i class="ti-trash"></i> &nbsp; &nbsp;
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </td>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- table primary end -->
        <!-- table success start -->


    </div>
</div>
{% endblock main-content %}