{% extends 'myadmin/dashboard.html' %}


{% block main-content %}
<div class="main-content-inner">
    <div class="row">
        <!-- table primary start -->
        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Thead Primary</h4>
                    <div class="single-table">
                        <div class="table-responsive">
                            <table class="table text-center">
                                <thead class="text-uppercase bg-primary">
                                    <tr class="text-white">
                                        <th scope="col">Product Name</th>
                                        <th scope="col">Variation Category</th>
                                        <th scope="col">Variation Value</th>
                                        <th scope="col">Is Active</th>
                                        <th scope="col">Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Suman</th>
                                        <td>Yellow</td>
                                        <td>41</td>
                                        <td class="text-success"><i class="fa-sharp fa-regular fa-circle-check"></i>
                                        <td class="text-danger">
                                            <i class="ti-trash"></i> &nbsp; &nbsp;
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </td>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- table primary end -->
        <!-- table success start -->


    </div>
</div>
{% endblock main-content %}