{% extends 'index.html' %}
{% load static %}

{% block title %}KicksKorner | Cart {% endblock %}

{% block specific-css %}
<!-- SPECIFIC CSS -->
<link href="{% static 'css/cart.css' %}" rel="stylesheet">
<link href="{% static 'css/error_track.css' %}" rel="stylesheet">
{% endblock specific-css %}

{% block modal-advertise %}
{% endblock modal-advertise %}



{% block maincontent %}
<main class="bg_gray">
    {% if not cart_items %}
    <div id="error_page">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-xl-7 col-lg-9">
                    <img src="{% static 'assets/img/404.svg' %}" alt="" class="img-fluid" width="400" height="212">
                    <p>Your Shopping Cart is Empty</p>
                    <form>
                        <a href="{% url 'store' %}" class="btn_1 full-width cart">Continue Shopping</a>
                    </form>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /error_page -->
    {% else %}
    <div class="container margin_30">
        <div class="page_header">
            <div class="breadcrumbs">
                <ul>
                    <li><a href="{% url 'store' %}">Home</a></li>
                    <!-- <li><a href="{{product.get_url}}">Product Detail</a></li> -->
                    <li>Cart</li>
                </ul>
            </div>
            <h1>Cart page</h1>
        </div>
        <!-- /page_header -->

        <table class="table table-striped cart-list">
            <thead>
                <tr>
                    <th>
                        Product
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Subtotal
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                {% for cart_item in cart_items %}
                <tr>
                    <td>
                        <div class="thumb_cart">
                            <img src="{{cart_item.product.image1.url}}" data-src="{{cart_item.product.image1.url}}"
                                class="lazy" alt="Image">
                        </div>
                        <a href="{{cart_item.product.get_url}}"
                            class="font-weight-bold">{{cart_item.product.product_name}}</a><br>
                        <p class="text-muted small">
                            {% if cart_item.variations.all %}
                            {% for item in cart_item.variations.all %}
                            {{ item.variation_category | capfirst }} : {{ item.variation_value | capfirst }} <br>
                            {% endfor %}
                            {% endif %}
                        </p>
                    </td>
                    <td>
                        <strong>Rs. {{cart_item.product.selling_price}}</strong>
                    </td>
                    <td>
                        <div class="col">
                            <div class="input-group input-spinner">
                                <div class="input-group-prepend">
                                    <a href="{% url 'remove_cart' cart_item.product.id cart_item.id %}"
                                        class="btn btn-light" type="button" id="button-plus"><svg
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                                        </svg></a>
                                </div>
                                <input type="text" class="form-control" value="{{cart_item.quantity}}">
                                <div class="input-group-append">
                                    <form action="{% url 'add_cart' cart_item.product.id %}" method="POST">
                                        {% csrf_token %}
                                        {% for item in cart_item.variations.all %}
                                        <input type="hidden" name="{{ item.variation_category | lower }}"
                                            value="{{ item.variation_value | capfirst }}">
                                        {% endfor %}
                                        <button class="btn btn-light" type="submit" id="button-minus"><svg
                                                xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                    d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                                            </svg></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <strong>Rs. {{ cart_item.sub_total }}</strong>
                    </td>
                    <td class="options">
                        <a href="{% url 'remove_cart_item' cart_item.product.id cart_item.id %}"><i
                                class="ti-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="row add_top_30 flex-sm-row-reverse cart_actions">
            <div class="col-sm-4 text-end">
                <button type="button" class="btn_1 gray">Update Cart</button>
            </div>
            <div class="col-sm-8">
                <div class="apply-coupon">
                    <div class="form-group">
                        <div class="row g-2">
                            <div class="col-md-6"><input type="text" name="coupon-code" value=""
                                    placeholder="Promo code" class="form-control"></div>
                            <div class="col-md-4"><button type="button" class="btn_1 outline">Apply Coupon</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /cart_actions -->
    </div>
    <!-- /container -->

    <div class="box_cart">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <ul>
                        <li>
                            <span>Subtotal</span> Rs. {{total}}
                        </li>
                        <li>
                            <span>Shipping</span> Rs. {{shipping}}
                        </li>
                        <li>
                            <span>Tax</span> Rs. {{tax}}
                        </li>
                        <li>
                            <span>Grand Total</span> Rs. {{grand_total}}
                        </li>
                    </ul>
                    <a href="{% url 'checkout' %}" class="btn_1 full-width cart"> <i
                            class="fa-solid fa-credit-card"></i> &nbsp;&nbsp;Proceed to Checkout</a>
                    <a href="{% url 'store' %}" class="btn_1 full-width cart"> <i class="fa-solid fa-cart-plus"></i>
                        &nbsp;&nbsp; Continue Shopping
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- /box_cart -->
    {% endif %}

</main>
<!--/main-->
{% endblock maincontent %}