{% extends 'index.html' %}
{% load static %}

<title>{% block title %} KicksKorner | 404 Error {% endblock %}</title>

{% block specific-css %}
<!-- SPECIFIC CSS -->
<link href="{% static 'css/checkout.css' %}" rel="stylesheet">
<link href="{% static 'css/cart.css' %}" rel="stylesheet">
<link href="{% static 'css/error_track.css' %}" rel="stylesheet">


{% endblock specific-css %}

{% block modal-advertise %}
{% endblock modal-advertise %}

{% block maincontent %}
<main class="bg_gray">


    <div class="container margin_30">
        <div class="page_header">
            <div class="breadcrumbs">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Category</a></li>
                    <li>Page active</li>
                </ul>
            </div>
            <h1>Sign In or Create an Account</h1>

        </div>
        <!-- /page_header -->
        <div class="row">
            <div class="col">
                <div class="step first">
                    <h3>1. User Info and Billing address</h3>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <ul class="nav nav-tabs" id="tab_checkout" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#tab_1" role="tab"
                                    aria-controls="tab_1" aria-selected="true">Register</a>
                            </li>
                            <!-- <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#tab_2" role="tab"
                                aria-controls="tab_2" aria-selected="false">Login</a>
                        </li> -->
                        </ul>
                        <div class="tab-content checkout">
                            <div class="tab-pane fade show active" id="tab_1" role="tabpanel" aria-labelledby="tab_1">
                                <div class="row no-gutters">
                                    <div class="col-6 form-group pr-1">
                                        <input type="text" class="form-control" placeholder="First Name" required>
                                    </div>
                                    <div class="col-6 form-group pl-1">
                                        <input type="text" class="form-control" placeholder="Last Name" required>
                                    </div>
                                </div>
                                <!-- /row -->
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email" required>
                                </div>
                                <div class="row no-gutters">
                                    <div class="col-6 form-group pr-1">
                                        <input type="text" class="form-control" placeholder="Address Line 1" required>
                                    </div>
                                    <div class="col-6 form-group pl-1">
                                        <input type="text" class="form-control" placeholder="Address Line 2 ">
                                    </div>
                                </div>
                                <div class="row no-gutters">
                                    <div class="col-6 form-group pr-1">
                                        <input type="text" class="form-control" placeholder="City" required>
                                    </div>
                                    <div class="col-6 form-group pl-1">
                                        <input type="text" class="form-control" placeholder="State" required>
                                    </div>
                                </div>
                                <!-- /row -->
                                <div class="row no-gutters">
                                    <div class="col-md-12 form-group">
                                        <div class="custom-select-form">
                                            <select class="wide add_bottom_15" name="country" id="country" required>
                                                <option value="" selected>Country</option>
                                                <option value="Europe">Europe</option>
                                                <option value="United states">United states</option>
                                                <option value="Asia">Asia</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!-- /row -->
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Phone Number" required>
                                </div>
                                <div class="form-group">
                                    <textarea rows="4" cols="50" placeholder="Quick Note" name="textarea" id=""
                                        cols="30" rows="10"></textarea>
                                </div>
                                <hr>
                            </div>
                        </div>
                </div>
                <!-- /step -->
            </div>
            <div class="col-6">
                <div class="step last">
                    <h3>3. Order Summary</h3>

                    <div class="box_general summary">
                        <table class="table table-striped cart-list">
                            <thead>
                                <tr>
                                    <th>
                                        Product
                                    </th>
                                    <th>
                                        Price
                                    </th>
                                    <th>
                                        Quantity
                                    </th>
                                    <th>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cart_item in cart_items %}
                                <tr>
                                    <td>
                                        <div class="thumb_cart">
                                            <img src="{{cart_item.product.image1.url}}"
                                                data-src="{{cart_item.product.image1.url}}" class="lazy" alt="Image">
                                        </div>
                                        <a href="{{cart_item.product.get_url}}"
                                            class="font-weight-bold">{{cart_item.product.product_name}}</a><br>
                                        <p class="text-muted small">
                                            {% if cart_item.variations.all %}
                                            {% for item in cart_item.variations.all %}
                                            {{item.variation_category | capfirst}} : {{item.variation_value | capfirst}}
                                            <br>
                                            {% endfor %}
                                            {% endif %}
                                        </p>
                                    </td>
                                    <td>
                                        <strong>Rs. {{cart_item.product.selling_price}}</strong>
                                    </td>
                                    <td>
                                        <label for="">{{cart_item.quantity}}</label>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <br>
                        <ul>
                            <li class="clearfix"><em><strong>Subtotal</strong></em> <span>Rs. {{total}}</span></li>
                            <li class="clearfix"><em><strong>tax</strong></em> <span>Rs. {{tax}}</span></li>
                            <li class="clearfix"><em><strong>Shipping</strong></em> <span>Rs. {{shipping}}</span></li>

                        </ul>
                        <div class="total clearfix">GRAND TOTAL <span>Rs. {{grand_total}}</span></div>
                        <div class="form-group">
                            <label class="container_check">Register to the Newsletter.
                                <input type="checkbox" checked>
                                <span class="checkmark"></span>
                            </label>
                        </div>

                        <button class="btn_1 full-width" type="submit" name="submit">Confirm and Pay</button>
                        <a href="{% url 'store' %}" class="btn_1 full-width cart"> <i class="fa-solid fa-cart-plus"></i>
                            &nbsp;&nbsp; Continue Shopping
                        </a>
                        </form>
                    </div>
                    <!-- /box_general -->
                </div>
                <!-- /step -->
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</main>
<!--/main-->
{% endblock maincontent %}