{% extends 'index.html' %}
{% load static %}
{% block title %}KicksKorner | Product Detail {% endblock %}

{% block specific-css %}
<link href="{% static 'css/product_page.css' %}" rel="stylesheet">
{% endblock specific-css %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

{% block maincontent %}
<main>
    <div class="container margin_30">
        <div class="row">
            <div class="col-md-6">
                <div class="all">
                    <div class="slider">
                        <div class="owl-carousel owl-theme main">
                            <div style="background-image: url({{single_product.image1.url}});" class="item-box"></div>
                            <div style="background-image: url({{single_product.image2.url}});" class="item-box"></div>
                            <div style="background-image: url({{single_product.image3.url}});" class="item-box"></div>
                            <div style="background-image: url({{single_product.image4.url}});" class="item-box"></div>
                            <div style="background-image: url({{single_product.image5.url}});" class="item-box"></div>
                            <div style="background-image: url({{single_product.image6.url}});" class="item-box"></div>
                        </div>
                        <div class="left nonl"><i class="ti-angle-left"></i></div>
                        <div class="right"><i class="ti-angle-right"></i></div>
                    </div>
                    <div class="slider-two">
                        <div class="owl-carousel owl-theme thumbs">
                            <div style="background-image: url({{single_product.image1.url}});" class="item active">
                            </div>
                            <div style="background-image: url({{single_product.image2.url}});" class="item"></div>
                            <div style="background-image: url({{single_product.image3.url}});" class="item"></div>
                            <div style="background-image: url({{single_product.image4.url}});" class="item"></div>
                            <div style="background-image: url({{single_product.image5.url}});" class="item"></div>
                            <div style="background-image: url({{single_product.image6.url}});" class="item"></div>
                        </div>
                        <div class="left-t nonl-t"></div>
                        <div class="right-t"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <form action="{% url 'add_cart' single_product.id %}" onsubmit="return validate();" method="POST">
                    {% csrf_token %}
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Category</a></li>
                            <li>Page active</li>
                        </ul>
                    </div>
                    <!-- /page_header -->
                    <div class="prod_info">
                        <h1>{{single_product.product_name}}</h1>
                        <span class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i
                                class="icon-star voted"></i><i class="icon-star voted"></i><i
                                class="icon-star"></i><em>4 reviews</em></span>
                        <p><small>{{single_product.product_name}}</small><br>{{single_product.description}}</p>
                        <div class="prod_options">
                            <div class="row">
                                <label class="col-xl-5 col-lg-5  col-md-6 col-6 pt-0"><strong>Color</strong></label>
                                <div class="col-xl-4 col-lg-5 col-md-6 col-6">
                                    <div class="custom-select-form">
                                        <select id="selectcolor" name="color" class="wide form-control" required>
                                            <option value="null" disabled selected>Select</option>
                                            {% for i in single_product.variation_set.colors %}

                                            <option value="{{i.variation_value | lower}}">
                                                {{i.variation_value | capfirst}}
                                            </option>
                                            {% endfor %}
                                        </select>
                                        <span id="colormsg" style="display:none;">Please select color</span>
                                    </div>
                                </div>
                            </div>
                            <script>
                                function validate() {
                                    if (document.getElementById('selectcolor').value == "null") {
                                        document.getElementById('colormsg').style.display = 'block';
                                        return false;
                                    }
                                    return true;
                                }
                            </script>
                            <div class="row">
                                <label class="col-xl-5 col-lg-5 col-md-6 col-6"><strong>Size</strong></label>
                                <div class="col-xl-4 col-lg-5 col-md-6 col-6">
                                    <div class="custom-select-form">
                                        <select id="selectsize" name="size" class="wide size" required>
                                            <option value="null" disabled selected>Select</option>
                                            {% for i in single_product.variation_set.sizes %}
                                            <option value="{{ i.variation_value }}">{{i.variation_value}}</option>
                                            {% endfor %}
                                        </select>
                                        <span id="sizemsg" style="display:none;">Please select size</span>
                                    </div>
                                </div>
                            </div>

                            <script>
                                function validate() {
                                    if (document.getElementById('selectcolor').value == "null") {
                                        document.getElementById('colormsg').style.display = 'block';
                                        return false;
                                    }
                                    if (document.getElementById('selectsize').value == "null") {
                                        document.getElementById('sizemsg').style.display = 'block';
                                        return false;
                                    }
                                    return true;
                                }
                            </script>

                        </div>
                        <div class="row">
                            <div class="col-lg-5 col-md-6">
                                <div class="price_main"><span class="new_price">Rs.
                                        {{single_product.selling_price}}</span>
                                    <span class="percentage">{{single_product.product_detail_ribbon}}</span>
                                    <span class="old_price">{{single_product.discounted_price}}</span>
                                </div>
                            </div>
                            {% if single_product.stock <= 0 %} <h4 class="text-danger" style="margin-top:25px;">Out of
                                Stock</h4>
                                <hr>
                                {% else %}
                                <div class="col-lg-4 col-md-6">
                                    <div class="btn_add_to_cart"><button type="submit" class="btn_1">Add to
                                            Cart</button></div>
                                </div>
                                {% endif %}
                        </div>
                        <!-- /prod_info -->
                        <div class="product_actions">
                            <ul>
                                <li>
                                    <a href="#"><i class="ti-heart"></i><span>Add to Wishlist</span></a>
                                </li>
                            </ul>
                        </div>
                </form>
                <!-- /product_actions -->
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->


    <div class="container margin_60_35">
        <div class="main_title">
            <h2>Related</h2>
            <span>Products</span>
            <p>Related Products you might like.</p>
        </div>
        <div class="owl-carousel owl-theme products_carousel">
            {% for product in products %}
            <div class="item">
                <div class="grid_item">
                    <span class="ribbon new">{{product.ribbon}}</span>
                    <figure>
                        <a href="{{product.get_url}}">
                            <img class="img-fluid lazy" src="{{product.image1.url}}" data-src="{{product.image1.url}}"
                                alt="">
                            <img class="img-fluid lazy" src="{{product.image2.url}}" data-src="{{product.image2.url}}"
                                alt="">
                        </a>
                    </figure>
                    <div class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i
                            class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star"></i></div>
                    <a href="{{product.get_url}}">
                        <h3>{{ product.product_name }}</h3>
                    </a>
                    <div class="price_box">
                        <span class="new_price">Rs. {{ product.selling_price }}</span>
                        <span class="old_price">{{ product.discounted_price }}</span>
                    </div>
                    <ul>
                        <li><a href="" class="tooltip-1" data-bs-toggle="tooltip" data-bs-placement="left"
                                title="Add to favorites"><i class="ti-heart"></i><span>Add to favorites</span></a></li>
                        <li><a href="{{product.get_url}}" class="tooltip-1" data-bs-toggle="tooltip"
                                data-bs-placement="left" title="View Details"><svg xmlns="http://www.w3.org/2000/svg"
                                    width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                    <path
                                        d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                    <path
                                        d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                                </svg><span>Add to cart</span></a></li>
                    </ul>
                </div>
                <!-- /grid_item -->
            </div>
            {% endfor %}
            <!-- /item -->
        </div>
        <!-- /products_carousel -->
    </div>
    <!-- /container -->

    <div class="feat">
        <div class="container">
            <ul>
                <li>
                    <div class="box">
                        <i class="ti-wallet"></i>
                        <div class="justify-content-center">
                            <h3>Secure Payment</h3>
                            <p>100% secure payment</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="box">
                        <i class="ti-headphone-alt"></i>
                        <div class="justify-content-center">
                            <h3>24/7 Support</h3>
                            <p>Online top support</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--/feat-->

</main>
<!-- /main -->


{% endblock maincontent %}

{% block modal-advertise %}
{% endblock modal-advertise %}



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>



{% block specific-js %}
<!-- SPECIFIC SCRIPTS -->
<script src="{% static 'js/carousel_with_thumbs.js' %}"></script>


{% endblock specific-js %}