{% autoescape off %}
Subject: Welcome to KicksKorner

Dear {{user.first_name | capfirst }},

We are delighted to welcome you to KicksKorner!

Thank you for signing up for our platform. Your support means the world to us.

To get started, please verify your email address by clicking the link below:
http://{{domain}}{% url 'activate' uidb64=uid token=token %}

If you did not create an account with us, you can simply ignore this email.

If you have any questions or need assistance, please feel free to reach out to our support team at
kickskornerofficial@gmail.com.

Sincerely,
The KicksKorner Team
{% endautoescape %}