{% extends 'index.html' %}

{% load static %}
{% block title %}KicksKorner | Dashboard {% endblock %}


{% block specific-css %}
<link href="{% static 'css/about.css' %}" rel="stylesheet">
{% endblock specific-css %}


{% block maincontent %}
<br><br>
<section class="section-conten padding-y bg">
    {% include 'accounts/alerts.html' %}
    <div class="container">
        <div class="row">
            {% include 'accounts/dashboard_sidebar.html' %}
            <main class="col-md-9">
                <article class="card">
                    <header class="card-header">
                        <strong class="d-inline-block mr-3">Logged in as: </strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span>{{user.first_name}} {{user.last_name}}</span>
                    </header>
                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-6">
                                <div class="card" style="text-align: center;">
                                    <div class="card-body">
                                        <h5 class="card-title mb-4">
                                            Total Orders
                                        </h5>
                                        <h4 class="mb-3">{{orders_count}}</h4>
                                        <a href=""">View Orders</a>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-md-6">
                                            <div class="card" style="text-align: center;">
                                                <div class="card-body ">
                                                    {% if userprofile.profile_picture %}
                                                    <img src="{{userprofile.profile_picture.url}}"
                                                        alt="User Profile Picture" width="50" height="50"
                                                        class="avatar mb-1" style="border-radius: 50%;">
                                                    {% else %}
                                                    <img src="{% static 'assets/img/avatar.jpg' %}"
                                                        alt="User Profile Picture" width="50" height="50"
                                                        class="avatar mb-1" style="border-radius: 50%;">
                                                    {% endif %}
                                                    <p class="mb-0">Email: {{user.email}}</p>
                                                    <p>Phone Number: {{user.phone_number}}</p>

                                                </div>
                                            </div>
                                    </div>

                                </div>
                            </div>
                </article>
            </main>
        </div>
    </div>

</section>
<br><br>

{% endblock maincontent %}

{% block modal-advertise %}
{% endblock modal-advertise %}

{% block specific-js %}
{% endblock specific-js %}