{% extends 'index.html' %}
{% load static %}
{% block title %}KicksKorner | Account Detail {% endblock %}

<link href="{% static 'css/home_1.css' %}" rel="stylesheet">


{% block specific-css %}
<link href="{% static 'css/account.css' %}" rel="stylesheet">
{% endblock specific-css %}

{% block modal-advertise %}
{% endblock modal-advertise %}

{% block maincontent %}
<main class="bg_gray">

	<div class="container margin_30">
		<div class="page_header">
			<div class="breadcrumbs">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Account</a></li>
					<li>Login</li>
				</ul>
			</div>
			<h1>Sign In or Create an Account</h1>
		</div>
		<!-- /page_header -->
		{% if request.GET.command == 'verification' %}

		<div class="alert alert-info row justify-content-center box_account text-center" role="alert"
			style="margin-left: 300px; margin-right: 300px; margin-bottom: 100px; margin-top: 100px;">
			Thank you for registering with us. We have sent you a verification email to your email address at
			{{request.GET.email}}.
			<br><br>
			<p>
				Already verified? <a href="{% url 'login' %}">Login</a>
			</p>
		</div>

		{% else %}
		<div class="row justify-content-center">
			<div class="col-xl-6 col-lg-6 col-md-8">
				<div class="box_account">
					<h3 class="client">Login</h3>
					<div class="form_container">
						{% include 'accounts/alerts.html' %}
						<form action="{% url 'login' %}" method="POST">
							{% csrf_token %}
							<div class="form-group">
								<input type="email" class="form-control" name="email" placeholder="Email*" required>
							</div>
							<div class="form-group">
								<input type="password" class="form-control" name="password" placeholder="Password*"
									required>

							</div>
							<div class="clearfix add_bottom_15">
								<div class="checkboxes float-start">
									<label class="container_check">Remember me
										<input type="checkbox">
										<span class="checkmark"></span>
									</label>
								</div>
								<div class="float-end"><a id="forgot" href="{% url 'forgotpassword' %}">Forgot
										Password?</a>
								</div><br><br>
								<div class="text-center">
									<input type="submit" value="Log In" class="btn_1 full-width">
									<br>
									Don’t have an account? <a href="{% url 'register' %}">Sign up</a>
								</div>
							</div>
						</form>
					</div>
					<!-- /form_container -->
				</div>
				<!-- /box_account -->
				<div class="row">
					<div class="col-md-6 d-none d-lg-block">
						<ul class="list_ok">
							<li>Find Locations</li>
							<li>Quality Location check</li>
							<li>Data Protection</li>
						</ul>
					</div>
					<div class="col-md-6 d-none d-lg-block">
						<ul class="list_ok">
							<li>Secure Payments</li>
							<li>H24 Support</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
		</div>
		<!-- /row -->
		{% endif %}
		<!-- /container -->
</main>
<!--/main-->
{% endblock maincontent %}


{% block specific-js %}
<script>
	// Client type Panel
	$('input[name="client_type"]').on("click", function () {
		var inputValue = $(this).attr("value");
		var targetBox = $("." + inputValue);
		$(".box").not(targetBox).hide();
		$(targetBox).show();
	});
</script>
{% endblock specific-js %}