{% extends 'index.html' %}

{% load static %}
{% block title %}KicksKorner | Dashboard {% endblock %}


{% block specific-css %}
<link href="{% static 'css/about.css' %}" rel="stylesheet">
{% endblock specific-css %}


{% block maincontent %}
<br><br>
<section class="section-conten padding-y bg">
    {% include 'accounts/alerts.html' %}
    <div class="container">
        <div class="row">
            {% include 'accounts/dashboard_sidebar.html' %}
            <main class="col-md-9">
                <article class="card">
                    <header class="card-header">
                        <strong class="d-inline-block mr-3">Your Order history</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </header>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">Order #</th>
                                            <th scope="col">Billing Name</th>
                                            <th scope="col">Phone</th>
                                            <th scope="col">Order Total</th>
                                            <th scope="col">Date</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order in orders %}
                                        <tr>
                                            <th scope="row">{{order.order_number}}</th>
                                            <td>{{order.full_name}}</td>
                                            <td>{{order.phone}}</td>
                                            <td>Rs.{{order.order_total}}</td>
                                            <td>{{order.created_at}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </article>
            </main>
        </div>
    </div>

</section>
<br><br>

{% endblock maincontent %}

{% block modal-advertise %}
{% endblock modal-advertise %}

{% block specific-js %}
{% endblock specific-js %}